#card {
    width: 380px;
    height: 480px;
    border-radius: 10px;
    box-shadow: 0 0 4px #fff;
    list-style: none;
    font-family: var(--font-padrao);
}

#card_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

#game_cover {
    width: 80%;
    height: 60%;
    border-radius: 15x;
}

#container_info_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--cinza-claro);

    width: 100%;
    height: 15%;
}

#container_info_card h3{
    font-size: 1.6rem;
}