@import url('https://fonts.googleapis.com/css?family=Orbitron');
@import url('https://googleapis.com');
@import url('https://fonts.gstatic.com');

:root {
    --preto-escuro: #0B0616;
    --cinza-escuro: #221C2D;
    --vermelho-rosado: #FF004C;
    --roxo: #7A3BFF;
    --branco: #ffffff;
    --cinza-claro: #D6D2E6;
    --azul-escuro: #01002958;
    --font-padrao: 'Orbitron', sans-serif;
    --font-secundaria: 'Exo 2', sans-serif;
    --font-tercearia: 'Inter var', sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

.layout-grid {
    width: 90%;
}

body {
    background-color: var(--cinza-escuro);
}